/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px; /* Adjusted to add space between cells */
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    font-size: 36px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Prevents box from stretching */
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
  }
  .row{
    margin: 10px;
  }
  